In [1]:
from scipy.optimize import minimize
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from read import load_all_gas_data
from thermal_script import plot_all_gas_properties
from computethermoprops import *
from p_functions import *

In [2]:
# Read all data into 1 dataframe
krypton_data = load_all_gas_data('krypton', read_from_excel=False)
xenon_data = load_all_gas_data('xenon', read_from_excel=False)
neon_data = load_all_gas_data('neon', read_from_excel=False)

In [27]:
print(krypton_data)
display(krypton_data["thermal_coeff"])
display(krypton_data["cell_volume_high"]['Temperature'])
# display(krypton_data["cell"])

{'melting':       Year    Author  Temperature      Pressure
0   1962.0   Michels      115.893  5.572875e+05
1   1962.0   Michels      116.352  2.099454e+06
2   1962.0   Michels      116.690  4.155338e+06
3   1962.0   Michels      118.198  8.264067e+06
4   1962.0   Michels      119.069  1.119844e+07
..     ...       ...          ...           ...
80  1977.0  Crawford      180.000  2.461100e+08
81  1977.0  Crawford      200.000  3.348200e+08
82  1977.0  Crawford      220.000  4.285000e+08
83  1977.0  Crawford      260.000  6.295800e+08
84  1977.0  Crawford      300.000  8.473600e+08

[85 rows x 4 columns], 'sublimation':        Year  Author  Temperature      Pressure
0    1970.0  Leming      114.914  67362.407042
1    1970.0  Leming      114.855  66966.707346
2    1970.0  Leming      114.457  64321.598866
3    1970.0  Leming      114.010  61448.243122
4    1970.0  Leming      113.608  58925.657560
..      ...     ...          ...           ...
458  2006.0    Lide       95.000   6000.000000
459  2006.0    Lide      100.000  12100.000000
460  2006.0    Lide      105.000  22800.000000
461  2006.0    Lide      110.000  40400.000000
462  2006.0    Lide      115.800  73100.000000

[463 rows x 4 columns], 'fusion':      Year    Author  Temperature  Change in Enthalpy
0  1962.0      Lahr      116.100               1.904
1  1962.0      Lahr      165.000               2.226
2  1962.0      Lahr      209.000               2.326
3  1962.0      Lahr      252.000               2.519
4  1962.0      Lahr      293.000               2.330
5  1962.0      Lahr      332.000               2.406
6  1962.0      Lahr      370.000               2.155
7  2008.0  Ferreira      116.000               1.907
8  2008.0  Ferreira      161.404               2.190
9  1977.0   Pollack      115.763               1.640, 'heatsub':       Year Author  Temperature  Change in Enthalpy
0   1978.0   Chen        102.0              10.993
1   1978.0   Chen        102.5              10.988
2   1978.0   Chen        103.0              10.982
3   1978.0   Chen        103.5              10.976
4   1978.0   Chen        104.0              10.970
5   1978.0   Chen        104.5              10.963
6   1978.0   Chen        105.0              10.957
7   1978.0   Chen        105.5              10.950
8   1978.0   Chen        106.0              10.943
9   1978.0   Chen        106.5              10.936
10  1978.0   Chen        107.0              10.928
11  1978.0   Chen        107.5              10.920
12  1978.0   Chen        108.0              10.913
13  1978.0   Chen        108.5              10.905
14  1978.0   Chen        109.0              10.896
15  1978.0   Chen        109.5              10.888
16  1978.0   Chen        110.0              10.879
17  1978.0   Chen        110.5              10.870
18  1978.0   Chen        111.0              10.860
19  1978.0   Chen        111.5              10.850
20  1978.0   Chen        112.0              10.840
21  1978.0   Chen        112.5              10.830
22  1978.0   Chen        113.0              10.819
23  1978.0   Chen        113.5              10.808
24  1978.0   Chen        114.0              10.797
25  1978.0   Chen        114.5              10.785
26  1978.0   Chen        115.0              10.773
27  1978.0   Chen        115.5              10.761, 'thermal_coeff':       Year   Author  Temperature  Thermal Expansion Coefficient
0   1972.0  Tilford          1.0                   1.500000e-07
1   1972.0  Tilford          1.5                   5.170000e-07
2   1972.0  Tilford          2.0                   1.250000e-06
3   1972.0  Tilford          2.5                   2.510000e-06
4   1972.0  Tilford          3.0                   4.485000e-06
..     ...      ...          ...                            ...
91  1968.0    Losee         95.0                   1.220000e-03
92  1968.0    Losee        100.0                   1.290000e-03
93  1968.0    Losee        105.0                   1.380000e-03
94  1968.0    Losee        110.0                   1.480000e-03
95  1968.0    Losee        115.0                   1.600000e-03

[96 rows x 4 columns], 'heat_capacity':        Year    Author  Temperature  Heat Capacity
0    1969.0  Finegold       4.6496        0.68870
1    1969.0  Finegold       5.1110        0.94250
2    1969.0  Finegold       5.5990        1.26300
3    1969.0  Finegold       5.9839        1.55200
4    1969.0  Finegold       6.2566        1.77500
..      ...       ...          ...            ...
142  1936.0   Clusius     103.3000       32.30048
143  1936.0   Clusius     107.9000       33.34648
144  1936.0   Clusius     108.0000       33.26280
145  1936.0   Clusius     112.4000       34.68536
146  1936.0   Clusius     112.5000       34.76904

[147 rows x 4 columns], 'bulk_s':     Unnamed: 0  Reference    Year Author  Temperature   Beta T   Unnamed: 6  \
0          NaN        NaN  1967.0  Urvas          NaN  0.000298         NaN
1          NaN        NaN  1967.0  Urvas          NaN  0.000329         NaN
2          NaN        NaN  1967.0  Urvas         10.0  0.000333         NaN
3          NaN        NaN  1967.0  Urvas         31.0  0.000362         NaN
4          NaN        NaN  1967.0  Urvas         39.0  0.000384         NaN
..         ...        ...     ...    ...          ...       ...         ...
69         NaN        NaN  1968.0  Losee         85.0  0.000570         NaN
70         NaN        NaN  1968.0  Losee         90.0  0.000610         NaN
71         NaN        NaN  1968.0  Losee         95.0  0.000650         NaN
72         NaN        NaN  1968.0  Losee        100.0  0.000700         NaN
73         NaN        NaN  1968.0  Losee        105.0  0.000750         NaN

    Density     Pressure  Unnamed: 9  Unnamed: 10  Reference.1  Year.1  \
0       NaN  3355.704698         NaN          NaN          NaN  1961.0
1       NaN  3039.513678         NaN          NaN          NaN  1961.0
2       NaN  3003.003003         NaN          NaN          NaN  1961.0
3       NaN  2762.430939         NaN          NaN          NaN  1961.0
4       NaN  2604.166667         NaN          NaN          NaN  1961.0
..      ...          ...         ...          ...          ...     ...
69      NaN  1754.385965         NaN          NaN          NaN     NaN
70      NaN  1639.344262         NaN          NaN          NaN     NaN
71      NaN  1538.461538         NaN          NaN          NaN     NaN
72      NaN  1428.571429         NaN          NaN          NaN     NaN
73      NaN  1333.333333         NaN          NaN          NaN     NaN

    Author.1  Temperature.1    Beta S  1011 x Beta S  Unnamed: 17
0   Beaumont            0.0       NaN            NaN          NaN
1   Beaumont            5.0       NaN            NaN          NaN
2   Beaumont           10.0  0.000388            NaN          NaN
3   Beaumont           15.0  0.000389            NaN          NaN
4   Beaumont           20.0  0.000391            NaN          NaN
..       ...            ...       ...            ...          ...
69       NaN            NaN       NaN            NaN          NaN
70       NaN            NaN       NaN            NaN          NaN
71       NaN            NaN       NaN            NaN          NaN
72       NaN            NaN       NaN            NaN          NaN
73       NaN            NaN       NaN            NaN          NaN

[74 rows x 18 columns], 'bulk_t':     Unnamed: 0  Reference    Year Author  Temperature    Beta T  Unnamed: 6  \
0          NaN        NaN  1967.0  Urvas          NaN       NaN         NaN
1          NaN        NaN  1967.0  Urvas          NaN       NaN         NaN
2          NaN        NaN  1967.0  Urvas         10.0  0.000298         NaN
3          NaN        NaN  1967.0  Urvas         31.0  0.000329         NaN
4          NaN        NaN  1967.0  Urvas         39.0  0.000333         NaN
..         ...        ...     ...    ...          ...       ...         ...
69         NaN        NaN  1968.0  Losee         85.0  0.000510         NaN
70         NaN        NaN  1968.0  Losee         90.0  0.000540         NaN
71         NaN        NaN  1968.0  Losee         95.0  0.000570         NaN
72         NaN        NaN  1968.0  Losee        100.0  0.000610         NaN
73         NaN        NaN  1968.0  Losee        105.0  0.000650         NaN

    Density     Pressure  Unnamed: 9  Unnamed: 10  Reference.1  Year.1  \
0       NaN  3355.704698         NaN          NaN          NaN  1961.0
1       NaN  3039.513678         NaN          NaN          NaN  1961.0
2       NaN  3003.003003         NaN          NaN          NaN  1961.0
3       NaN  2762.430939         NaN          NaN          NaN  1961.0
4       NaN  2604.166667         NaN          NaN          NaN  1961.0
..      ...          ...         ...          ...          ...     ...
69      NaN  1754.385965         NaN          NaN          NaN     NaN
70      NaN  1639.344262         NaN          NaN          NaN     NaN
71      NaN  1538.461538         NaN          NaN          NaN     NaN
72      NaN  1428.571429         NaN          NaN          NaN     NaN
73      NaN  1333.333333         NaN          NaN          NaN     NaN

    Author.1  Temperature.1   Beta S   1011 x Beta S  Unnamed: 17
0   Beaumont            0.0  0.000388            NaN          NaN
1   Beaumont            5.0  0.000389            NaN          NaN
2   Beaumont           10.0  0.000391            NaN          NaN
3   Beaumont           15.0  0.000395            NaN          NaN
4   Beaumont           20.0  0.000400            NaN          NaN
..       ...            ...       ...            ...          ...
69       NaN            NaN       NaN            NaN          NaN
70       NaN            NaN       NaN            NaN          NaN
71       NaN            NaN       NaN            NaN          NaN
72       NaN            NaN       NaN            NaN          NaN
73       NaN            NaN       NaN            NaN          NaN

[74 rows x 18 columns], 'cell_volume_sub':        Year  Author  Temperature  Cell Volume
0    1930.0  Keeson         20.0    26.298219
1    1930.0   Natta         78.0    29.071968
2    1932.0   Simon         82.0    27.588997
3    1932.0   Simon         89.0    27.734971
4    1932.0   Simon         92.0    27.734971
..      ...     ...          ...          ...
126     NaN     NaN          NaN          NaN
127     NaN     NaN          NaN          NaN
128     NaN     NaN          NaN          NaN
129     NaN     NaN          NaN          NaN
130     NaN     NaN          NaN          NaN

[131 rows x 4 columns], 'cell_volume_melt':     Year     Author  Temperature  Cell Volume
0   1962       Lahr       116.10    29.650000
1   1962       Lahr       169.00    28.900000
2   1962       Lahr       237.00    28.400000
3   1962       Lahr       255.00    27.400000
4   1962       Lahr       280.00    26.800000
5   1962       Lahr       293.00    26.700000
6   1962       Lahr       327.00    26.000000
7   1962       Lahr       362.00    26.300000
8   1978  Macrander       127.34    29.615974
9   1978  Macrander       131.86    29.503069
10  1978  Macrander       138.94    29.315885
11              NaN          NaN          NaN}

      Year   Author  Temperature  Thermal Expansion Coefficient
0   1972.0  Tilford          1.0                   1.500000e-07
1   1972.0  Tilford          1.5                   5.170000e-07
2   1972.0  Tilford          2.0                   1.250000e-06
3   1972.0  Tilford          2.5                   2.510000e-06
4   1972.0  Tilford          3.0                   4.485000e-06
..     ...      ...          ...                            ...
91  1968.0    Losee         95.0                   1.220000e-03
92  1968.0    Losee        100.0                   1.290000e-03
93  1968.0    Losee        105.0                   1.380000e-03
94  1968.0    Losee        110.0                   1.480000e-03
95  1968.0    Losee        115.0                   1.600000e-03

[96 rows x 4 columns]

KeyError: 'cell_volume_high'